src/cnnClassifier.egg-info/*


#CORN
artifacts/*
artifacts/data_ingestion/Corn/Rust/*
artifacts/data_ingestion/Corn/Healthy/*
artifacts/data_ingestion/__MACOSX/Corn/Healthy/*
artifacts/data_ingestion/__MACOSX/Corn/Rust/*
artifacts/data_ingestion/__MACOSX/Corn/._Healthy
artifacts/data_ingestion/__MACOSX/Corn/._Rust


#PyCache
**/__pycache__/*

#Logs
logs/running_logs.log

*.DS_Store
templates/index2.html
templates/index3.html
templates/index4.html
